<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
      <div class="my-2">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
              (click)="openNew()"></button>
      </div>
  </ng-template>
  <!-- <ng-template pTemplate="right">
      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
  </ng-template> -->
</p-toolbar>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Project details" [modal]="true" class="p-fluid">
  <div>
    <label for="userFirstName">First Name:</label>
    <input type="text" id="userFirstName" formControlName="userFirstName">
  </div>
  <div>
    <label for="userLastName">Last Name:</label>
    <input type="text" id="userLastName" formControlName="userLastName">
  </div>
  <div>
    <label for="userName">Username:</label>
    <input type="text" id="userName" formControlName="userName">
  </div>
  <div>
    <label for="userPassword">Password:</label>
    <input type="password" id="userPassword" formControlName="userPassword">
  </div>
  <div>
    <label for="roleName">Role:</label>
    <select id="roleName" formControlName="roleName">
      <option *ngFor="let role of roles" [value]="role.roleName">{{ role.roleName }}</option>
    </select>
  </div>
  <button type="submit" [disabled]="userForm.invalid">Create User</button>
  </p-dialog>
</form>


  <div class="card">
    <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Role</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.userName }}</td>
                <td>{{ user.userFirstName }}</td>
                <td>{{ user.userLastName }}</td>
                <td ><span *ngFor="let role of user.role">{{ role.roleName }}</span></td>
                <td><button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="onDeleteUser(user)"></button></td>
            </tr>
        </ng-template>
    </p-table>
</div>

